body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
}

button {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  align-content: center;
}

.container {
  background-color: dimgray;
  outline: 1px solid black;
  padding: 10px;
}

.expression {
  text-align: right;
  color: lightgray;
  margin-top: 0;
  margin: 0 5px 0 5px;
  min-width: 60px;
  min-height: 20px;
  font-size: larger;
}

.result {
  text-align: right;
  color: white;
  margin-top: 0;
  margin: 0 5px 0 5px;
  min-width: 60px;
  min-height: 20px;
  font-size: x-large;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 5px;
  justify-content: right;
}

.number {
  background-color: cadetblue;
}

.operator {
  background-color: burlywood;
}

.functional {
  background-color: bisque;
}
